.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to bottom, var(--background-gradient-start), var(--background-gradient-end));
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 50px;
  box-shadow: 0 4px 10px var(--box-shadow-light);
  padding: 10px 20px;
  width: 100%;
  max-width: 50rem;
}

.search-box.dropdown-open {
  border-radius: 30px 30px 0 0 !important;
}

.search-icon {
  color: var(--search-item-border)
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 10px;
  border-radius: 50px;
}

.search-button {
  background: var(--primary);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 2px 4px var(--box-shadow-light);
}

.search-button:hover {
  background: var(--primary-dark);
}

.results-list {
  overflow-y: auto;
  border: 1px solid var(--border-color);
  background: white;
  box-shadow: 0 4px 6px var(--box-shadow-light);
  margin-top: 0px;
  padding: 0;
  width: 52.4rem;
  border-top: none;
}

.result-item {
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;
  font-size: 16px;
  color: var(--text-primary);
  background: white;
}

.result-item:hover {
  background-color: var(--hover-background);
}

.no-results {
  padding: 10px;
  color: var(--text-secondary);
  font-style: italic;
  text-align: center;
}

.search-results {
  width: 100%;
  max-width: 600px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px var(--box-shadow-light);
  padding: 20px;
  margin-top: 20px;
  max-height: 400px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.search-item {
  background-color: var(--search-item-bg);
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--box-shadow-light);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin-bottom: 10px;
  border-left: 4px solid var(--search-item-border);
  margin-top: 24px;
}

.search-item:hover {
  background-color: var(--hover-background);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px var(--box-shadow-medium);
}

.search-item p {
  margin: 5px 0;
  font-size: 14px;
  color: var(--text-primary);
}

.search-item strong {
  color: var(--secondary);
}

.search-heading {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  background: var(--search-heading-bg);
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px var(--box-shadow-dark);
}
.list-icon {
  margin-right: 8px;
  color: gray;
}